body{
font-family: 'IBM Plex Mono', monospace;
font-size: 15px;
}


h1,h2,.skill-list{
font-family: 'Inknut Antiqua', serif;}

img{
  /* limit  */
  max-width: 100%}

nav{background-color: bisque;
position:fixed;
z-index: 1;
width: 100%;
}

nav  ul li {display: inline-block;
margin: 0 20px;
/* top and bottom space */

padding:0;
text-transform: uppercase;
letter-spacing: 1px;
font-size: 14px;
}


nav li a {
  text-decoration: none;
   color: black;
}

nav li a:hover{

  text-decoration: underline;

}

body{
  margin: 0;
  padding:0;
}

ul{margin: 0;
padding:0;}


nav ul{ margin: 0 auto;
  text-align: center;
  padding: 30px;
}

h1{
font-size: 100px;
line-height: 100%;

}

h1,h2{font-weight: normal;}

h2{
  font-size: 50px;
line-height: 100%;
}


.pp{
margin-top: 50px;

}

.player{
margin-top: 40px;
display: flex;
text-align: center;
}




@media screen and (min-width: 960px) {
  .player {
    width: :300px;
    height: 60px;
  }
}








ul,li{
  list-style: none;
}


.button{
  border: 1px solid black ;
  padding: 10px 20px;
  display: inline-block;
  color: black;
  border-radius: 30px;
  margin-top: 20px;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}


.button:hover {
  background: black;
  color: white;
}

figcaption{
  font-size: 10px;
}

.pic{
box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.5);
margin-top: 10px;
margin-bottom: 10px;


}

.skill-list{
text-align: center;
font-size: 50px;
margin-bottom: 100px;
}




.project{
margin: 70px 0;
padding: 50px;
}


.blue{
  background-color: bisque;
}


.ex1{


      text-align:  center;
background-repeat: no-repeat;
margin-bottom: 50px;
}




.mid{

text-align: center;
}
